
<%- include("partials/header"); -%>

<section class="mission-vision">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h5>Mission</h5>
            <p>
                Our mission is to see every children living with disabilities live 
                up to their unique potentials.
            </p>    
        </div>
        <div class="col-lg-6">
            <h5>Vision</h5>
            <p>
                Our vision is to see every children living with disabilities live up to their unique potentials.
            </p>   
        </div>
    </div>
</div>
</section>




<%- include("partials/footer"); -%>