
    <%- include("partials/header"); -%>

        <!-- Title -->
<section id="title" class="mt-5">
  <div class="container py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
      <div class="col-10 col-sm-8 col-lg-4">
        <img src="/images/fineb.png" class="d-block ms-lg-auto img-fluid" alt="Fine boy" height="auto" loading="lazy">
      </div>
      <div class="col-lg-8 ">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4 ">We Raise and Speak <br> for Children with Disabilities
          </h1>
        
          <p class="lead pe-5">We are Non-Governmental Organization that aimed at helping the children with disabilities. We use educational and vocational approaches as tools for liberating and bringing out abilities in their disabilities. Hence, a voice for those who cannot <span class="speak-blue">speak</span>.</p>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
          <button type="button" class="btn btn-primary btn-lg px-5 me-md-2">BECOME A VOLUNTEER</button>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>